<main class="main">
  <div class="container">
    <h3 class="d-flex justify-content-center">Angular 17, Web Application Demo With Python Backend</h3>
    <h5 class="d-flex justify-content-center">Employee Management Portal</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="m-1 btn btn-outline-success" routerLink="employee">Employee</a>
          <a class="m-1 btn btn-outline-success" routerLink="department">Department</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</main>